h1 {
    color: blue;
    text-align: center;
}
img {
    width: 400px;
    height: 400px;
}
.intro {
    font-style: italic;
}
.important {
    color: white;
}
img {
    float: right;
}
body {
    background-color: #D0D3D4;
}
.box-model {
    border: 5px solid red;
    border-left: 5px solid red;
    border-right: 4px solid blue;
    border-top: 6px solid orange;
    border-bottom: 8px solid black;
}
.box-model {
    padding: 6px;
}
.box-model {
    margin: 20px;
}
.box-model {
    background-color: yellowgreen;
}
.sidebar {
    width: 170px;
    float: left;
    background-color: wheat;
}